@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #323231;
  background-color: rgb(247, 247, 247);
  --primary: #f36b21;
  --secondary: #323231;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.active {
  background-color: var(--primary);
  border-radius: 10px;

  color: white;
}

footer {
  background-color: var(--secondary);
  color: white;
  /* text-align: center; */
  padding: 5rem 0;
  margin-top: 4rem;
}

footer .footer-link  {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white !important;
  margin-bottom: 20px;

}

footer .footer-link  a{
  color: white !important;
}
footer .footer-link  a:hover{
  color: rgb(168, 168, 168) !important;
}

footer .footer-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
